:root {
    --color-bg: #ecfafc;
    --color-card: #ebf3f7;
    --color-text: #565656;
    --color-title: #232429;
  }
  
  *,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
  }
  html {
    font-size: 60%;
  }
  body {
    background-color: var(--color-bg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.2rem;
    height: 100vh;
    transition: 0.4s;
  }
  /* change theme colors */
  body.dark-theme {
    --color-bg: #242525;
    --color-card: #1d1d1d;
    --color-text: #747474;
    --color-title: #fff;
  }
  .container {
    height: 100%;
    display: grid;
    place-items: center;
    padding: 2rem;
  }
  .card {
    position: relative;
    background-color: var(--color-card);
    box-shadow: 0px 4px 15px 5px rgb(57, 197, 248);
    padding: 5rem 3.5rem;
    border-radius: 15%;
    width: 100%;
    max-width: 35rem;
    color: var(--color-text);
    transition: 0.4s;
  }
  .card__image {
    max-width: 15rem;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 50%;
    box-shadow: 0px 4px 15px 5px rgb(57, 197, 248);
  }
  .card__body {
    text-align: center;
    margin-bottom: 3rem;
  }
  .card__name {
    color: var(--color-title);
    font-size: 2.5rem;
    font-weight: 900;
    padding: 0.8rem;
  }
  .card__occupation {
    font-weight: 600;
  }
  .social__list {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    column-gap: 2rem;
  }
  .social__link {
    font-size: 2rem;
    color: var(--color-text);
    transition: 0.4s;
  }
  .social__link:hover {
    color: #1ec5f3;
  }
  .card__button {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem 1.2rem;
    background-color: #1ec5f3;
    border-radius: 20%;
    font-size: 1.8rem;
    color:#ffffff;
    transition: 0.4s;
  }
  .card__button i {
    font-size: 1.5rem;
  }
  .card__button:hover {
    background-color:#3ddefb;
  }
  .card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 3rem;
  }
  .card__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .card__number {
    color: var(--color-title);
    font-weight: 500;
    font-size: 1.8rem;
  }
  .theme__toggle {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 2.2rem;
    cursor: pointer;
    transition: 0.4s;
  }
  .theme__toggle:hover {
    color: var(--color-title);
  }
  

